body { color: #333; background: #fff; font-family: sans-serif; }

a img { max-width: 100%; border: solid 2px; }

figure {
  display: block;
  max-width: 80%;
  margin: 0 auto 50px;
  text-align: center;

}

figcaption { display: block; }

img { max-width: 100%; }

p { text-align: center; }




.breadcrumbs {
  padding: 0;
  margin: 0 0 .5em;
  font-size: .8em;
  list-style: none;
}
  .breadcrumbs > li {
    display: inline;
    padding: 0;
    margin: 0;
  }
  .breadcrumbs > li + li:before {
    content: " / ";
  }

